:root {
  /* --bg: #e9e9df; */
  /* --bg: #fdfff1; */
  --bg: #ebece2;
  --c: #6d6d6d;
}

body {
  background: var(--bg);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

section {
  width: 100%;
  display: grid;
  gap: 1.5rem;
}

video {
  height: 15vmin;
  width: 20vmin;
  object-fit: contain;
}

.wc {
  position: relative;
  left: calc(var(--value) * 1%);
  transform: translateX(-40%);
  order: -1;
  mix-blend-mode: darken;
  /* filter: contrast(1.2); */
}

h1 {
  font-weight: normal;
  line-height: 1.125;
  font-size: 15vmin;
  text-align: center;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: "progress", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 7.5vmin;
  text-align: center;
  font-weight: 300;
  /* font-style: italic; */
  font-family: "sergeant", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul {
  display: flex;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 3vmin;
  list-style-type: none;
  padding: 2vmin;
  text-transform: uppercase;
  user-select: none;
  margin: 0 auto;
  line-height: 1.1;
  font-family: "progress", sans-serif;
}

li span {
  display: block;
  font-size: 8vmin;
  font-weight: 700;
  margin-bottom: 0.1em;
  color: #51654d;
  font-family: "sergeant", sans-serif;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 100%;
  height: 1.5rem;
  height: 4rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 2rem;
  border-radius: 0;
  border: 2px solid #566068;
  transform: translateZ(-20px) rotateX(60deg);
  margin-top: -2.2rem;
}

/* progress[value]:after {
  content: attr(value) "%";
  font-weight: 700;
  padding: 0 0.5rem;
  font-size: 1.2em;
  position: absolute;
  left: calc(var(--value) * 1%);
  transform: translateX(-100%);
  color: hsl(calc((var(--value) / 100) * 90), 50%, 50%);
  mix-blend-mode: difference;
} */

progress[value]::-webkit-progress-bar {
  /* background: hsl(220, 10%, 80%); */
  background: transparent;
}

progress[value]::-moz-progress-bar {
  /* background: hsl(220, 10%, 80%); */
  background: transparent;
}

progress[value]::-webkit-progress-value {
  background: hsl(calc((var(--value) / 100) * 90), 50%, 50%);
  filter: contrast(2);
  transform-origin: 0 0;
  /* border-radius: 0.5rem; */
}

.progresswrapper {
  position: relative;
  display: grid;
  grid: auto auto auto / 1fr;
  /* gap: 0.5rem; */
  align-items: center;
  perspective: 500px;
  /* transform-style: preserve-3d; */
}

.value {
  font-weight: 600;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  padding: 0 0.25rem;
  font-size: 0.8em;
  position: relative;
  left: calc(var(--value) * 1%);
  color: hsl(calc((var(--value) / 100) * 90), 50%, 50%);
  /*color: var(--c);*/
  order: 1;
  place-self: start;
  transform: translateX(-50%);
}

.countdown {
  margin-bottom: 4rem;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  padding: 20px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
}

/*@media (prefers-color-scheme: dark) {
  body {
    --bg: #000;
    --c: #fff;
    color: #fff;
  }
}*/
