:root {
  --bg: #e9e9df;
  /* --bg: #fdfff1; */
  /* --bg: #e5e9de; */
  --c: #6d6d6d;
}

body {
  background: var(--bg);
  background: #f0a976;
  background: #efa876;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* -webkit-tap-highlight-color: transparent; */
  -webkit-user-select: none;
}

section {
  width: 100%;
  display: grid;
  /* gap: 1.5rem; */
}

video,
img {
  height: 20vmin;
  width: 25vmin;
  height: 30vmin;
  width: 22vmin;
  object-fit: contain;
}

.wc {
  position: relative;
  left: calc(var(--value) * 1%);
  transform: translateX(-50%);
  order: -1;
  z-index: 1;
  /* mix-blend-mode: multiply; */
  /* filter: contrast(1.2); */
}

h1 {
  font-weight: normal;
  line-height: 1.125;
  font-size: 15vmin;
  text-align: center;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: "progress", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 7.5vmin;
  text-align: center;
  font-weight: 300;
  /* font-style: italic; */
  font-family: "sergeant", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  /* font-size: 8vmin; */
  list-style-type: none;
  padding: 2vmin;
  text-transform: uppercase;
  user-select: none;
  /* margin: 0 auto; */
  margin: 0 0.25em;
  line-height: 1;
  font-family: "progress", sans-serif;
}

li span {
  display: block;
  font-size: 2.9em;
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 0.1em;
  margin-bottom: 0;
  color: #51654d;
  font-family: "sergeant", sans-serif;
  background: url("../img/bg/mili.jpg") 0% 50% / cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* li:nth-child(1) span {
  font-size: 40vmin;
} */

li:nth-child(2) span {
  background-position: 25% 50%;
}

li:nth-child(3) span {
  background-position: 50% 50%;
}

li:nth-child(4) span {
  background-position: 75% 50%;
}

.gif {
  width: 100%;
  height: auto;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 100%;
  height: 1.5rem;
  height: 4rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 2rem;
  border-radius: 0;
  border: 2px dashed #ab7147;
  transform: translateZ(-20px) rotateX(65deg);
  margin-top: -2.2rem;
}

/* progress[value]:after {
content: attr(value) "%";
font-weight: 700;
padding: 0 0.5rem;
font-size: 1.2em;
position: absolute;
left: calc(var(--value) * 1%);
transform: translateX(-100%);
color: hsl(calc((var(--value) / 100) * 90), 50%, 50%);
mix-blend-mode: difference;
} */

progress[value]::-webkit-progress-bar {
  /* background: hsl(220, 10%, 80%); */
  background: transparent;
}

progress[value]::-moz-progress-bar {
  /* background: hsl(220, 10%, 80%); */
  background: transparent;
}

progress[value]::-webkit-progress-value {
  background: hsl(calc((var(--value) / 100) * 90), 50%, 50%);
  filter: contrast(2);
  transform-origin: 0 0;
  /* border-radius: 0.5rem; */
}

.progresswrapper {
  position: relative;
  display: grid;
  grid: auto auto auto / 1fr;
  /* gap: 0.5rem; */
  align-items: center;
  perspective: 500px;
  /* transform-style: preserve-3d; */
  background: var(--bg);
  /* margin: 0 -55px; */
  padding: 0 6.5vmin;
  background: #efd4a4 linear-gradient(to top, #f0a976, #efd4a4 74%, #fbfcfc 0);
  background: #efa876
    linear-gradient(to top, #efa876, hsla(25, 79%, 77%, 1) 74%, #f6d9cb 0);
  /* overflow: hidden; */
}

/* .progresswrapper::before {
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/bg/elems.png);
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: repeat no-repeat;
  transform: translate3d(100%, 0, 0);
  animation: bg 240s -60s infinite linear;
}

@keyframes bg {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
} */

.progresswrapper svg {
  position: absolute;
  top: 6%;
  left: 100vw;
  height: 17vmin;
  width: auto;
  will-change: transform;
  filter: blur(0.2px);
  transform: translate3d(0, 0, -20px);
  animation: bg2 90s infinite linear;
}

svg.tree {
  height: 11vmin;
  top: 12%;
  animation-duration: 120s;
  animation-delay: -60s;
  filter: blur(0.3px);
}

svg.cactus {
}

@keyframes bg2 {
  100% {
    transform: translate3d(calc(-100vw - 100%), 0, -20px);
  }
}

.value {
  font-weight: 600;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  padding: 0 0.25rem;
  font-size: 1.2em;
  position: relative;
  left: calc(var(--value) * 1%);
  color: hsl(calc((var(--value) / 100) * 90), 50%, 50%);
  /*color: var(--c);*/
  order: 1;
  place-self: start;
  transform: translateX(-50%) translateZ(-20px) rotateX(65deg);
  margin-top: -0.5rem;
  mix-blend-mode: multiply;
}

.countdown {
  padding-bottom: 4rem;
  background: linear-gradient(to top, #fbfcfc 0, #7bc0fb);
  background: linear-gradient(to top, #f6d9cb 0, #f6d9cb);
}

html,
body,
.app {
  height: 100%;
}

.app {
  display: grid;
  align-items: center;
  /* padding: 20px; */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(to top, #f0a976 50%, #7bc0fb 0);
  background: linear-gradient(to top, #efa876 50%, #f6d9cb 0);
  overflow: hidden;
}

.app::before {
  content: "";
  position: absolute;
  top: 2%;
  right: 5%;
  border-radius: 50%;
  background: #ffe66e;
  background: #feaf74;
  height: 85px;
  width: 85px;
  /* box-shadow: 0 0 30px #ffefa2; */
  /* filter: blur(1px); */
}

/*@media (prefers-color-scheme: dark) {
body {
  --bg: #000;
  --c: #fff;
  color: #fff;
}
}*/

#cc {
  position: absolute;
  bottom: 10vmin;
  left: 50%;
  padding: 0.85rem 1rem;
  transform: translateX(-50%);
  border-radius: 8px;
  border: 1px solid #db8e5c;
  background: transparent;
  color: #0f0e16;
  cursor: pointer;
  -webkit-tap-highlight-color: #db8e5c;
  touch-action: manipulation;
}

#cc:active {
  background: #db8e5c;
}
